# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# IDE or editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dist or build directories
dist/
build/
